{% extends 'templates/app.twig' %}


{% block content %}
<div class="row">
 	<div class="col-md-6">
 		<div class="panel panel-default">
          <div class="panel-heading">Your Personal Infromation</div>
          <div class="panel-body">
<form method="post" action="">
<div class="form-group">
 <label for="name">Name</label>
 <input type="text" name="name" id="name" value="{{ name }}" placeholder="Your Name" class="form-control" />
</div>
<div class="form-group">
 <label for="lastname">Last Name</label>
 <input type="text" name="lastname" id="lastname" value="{{ lastname }}" placeholder="Your Last Name" class="form-control" />
</div>
<div class="form-group">
 <label for="city">City</label>
 <input type="text" name="city" id="city" value="{{ city }}" class="form-control" />
</div>
<div class="form-group">
 <label for="country">Country</label>
 <input type="text" name="country" id="country" value="{{ country }}" class="form-control" />
</div>
<input type="hidden" name="id_user" value="{{ user_id }}" />


</form>
</div></div></div>
 	<div class="col-md-6">
 		<div class="panel panel-default">
          <div class="panel-heading">Phone Numbers</div>
          <div class="panel-body">
            <table>
             <tr><td>Phone Number</td><td>Country</td></tr>
          {% for phone in phones %}

        <tr class="info"><td>{{ phone.phone }}</td> <td>{{ phone.code }}</td></tr>
    {% endfor %}
    <table>
</div></div></div></div>
     {% endblock %}
